{
    "routers": [
        {
            "# Router Identification": null,
            "name": "MYR1",
            "enabled": true,
            "ip_address": "192.168.88.1",
            "ssh_port": 22,
            "ssh_user": "rosbackup",
            "private_key": "./ssh-keys/private/id_rosbackup",
            "backup_password": "SpecificPassword",
            "backup_retention_days": -1,
            "encrypted": false,
            "enable_binary_backup": true,
            "enable_plaintext_backup": true,
            "keep_binary_backup": false
        }
    ]
}
