targets:
  - name: MYR1
    enabled: true
    host: 192.168.88.1
    ssh:
      port: 22
      user: rosbackup
      private_key: ./ssh-keys/private/id_rosbackup
      args:
        auth_timeout: 5
        channel_timeout: 5
        compress: true
    backup_password: SpecificPassword
    backup_retention_days: -1
    encrypted: false
    enable_binary_backup: true
    enable_plaintext_backup: true
    keep_binary_backup: false
    keep_plaintext_backup: false
